div {
  background: repeating-linear-gradient(
    -45deg,
    #f5f5f5,
    #f5f5f5 20px,
    #c9c9c9 20px,
    #c9c9c9 40px
  );
  height: 200px;
  width: 400px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

button {
  padding: 10px 20px;
  border-radius: 15px;
  background: repeating-linear-gradient(
    0deg,
    #f5f5f5,
    #f5f5f5 50%,
    #fff 50%,
    #fff 100%
  );
}
